.footer {
    background-color: #FFFFFF;
    color: #fff;
    padding: 25px 50px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    margin: 0;
    font-size: 24px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #00bcd4;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #555;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #bbb;
}

