*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1250px;
    margin: auto;
}

header{
    background-color: #ffffff;
    
    
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #575757;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
   
 
}

nav .nav-button{
    background-color: #2563EB;
    color: #ffffff;
    padding: 0px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*  */

.hero{
    background-image:linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.hero-content{
    max-width: 800px;
}
.hero h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero p{
    max-width: 600px;
    font-size: 16px; 
    margin-bottom: 20px;
}
.hero .hero-button{
    background-color:  #2563EB;
    color: #ffffff;
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 150px;
}

/*meet the speakers start*/
.speakers{
    
    margin-top: 50px;
}
.speakers h2{
    text-align: center;
    color: #000000;
    font-size: 40px;
    margin-bottom: 40px;
}
.speakers-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.speakers-card{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.speakers-card-text{
    padding: 20px;
    line-height: 1.5;
}
.speakers-card-text h3{
    font-size: 24px;
    font-weight: bold;
    
}
.speakers-card-text p{
    font-size: 16px;
    color: #666666;
}
.speakers-card-text h5{
    font-size: 14px;
    font-weight: bold;
    color: #2563EB;
}

 /*meet the speakers end*/

/* secure your spot section start */

.spot-container{
    max-width: 1000px;
    margin-top: 150px;
    margin:auto;
    
}
.Secure-your-spot{
    margin-top: 100px;
    text-align: center;
}
.Secure-your-spot h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.Secure-your-spot p{
    font-size: 16px;
    color: #666666;
    
}
.card-head h6{
    font-size: 12px;
    color: #888888;
    margin-bottom: 10px;
}
.card-head .price{
    font-size: 40px;
    font-weight: bold;
    color: #0D1B2A;    
}
.card-head .middle-card-price{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;    
}
.card-head p.head-bottom{
    font-size: 12px;
    color: #888888;
}

.card-head-hr{
    margin: 15px 0;
    border: none;
    border-top: 1px solid #E5E7EB;
}
.card-head-hr-middle{
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ffffff14;
}

.pricing-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
}

.pricing-container .pricing-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding:35px;
    
}
.pricing-container .last-pricing-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FB;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding:35px;
       
}
.design-card{
    background-color: #0D1B2A;
     
}
h6.second-card-head-text{
    color: #2563EB;
}
ol.second-card-ol{
    color: #ffffffa4;
}
.pricing-container .pricing-card ol{
    list-style-type: disc;
    list-style-position: inside;   
}
.pricing-container .pricing-card ol li{
    
    font-size: 12px;
    margin-bottom: 10px;
}
.pricing-container .pricing-card ol li::marker{
    color: #2563EB;

}
.button-1{
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    width: 100%;
    padding: 10px 25%;
    margin-top: 10px;
    border:1px solid #2563EB;
    border-radius: 5px;
    color: #2563EB;
    cursor: pointer;

}

.button-2{
    font-size: 16px;
    width: 100%;
    padding: 10px 25%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #2563EB;
    color: #ffffff;
    border: none;
    cursor: pointer;

}
.button-3{
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    width: 100%;
    padding: 10px 25%;
    margin-top: 10px;
    border: 1px solid #0D1B2A;
    border-radius: 5px;
    color: #0D1B2A;
    cursor: pointer;

}
/* secure your spot end */

/* Footer section start */

.footer{
    background-color: #0D1B2A;
    color: #ffffff;
    margin-top: 50px;
    padding: 25px 50px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.footer-icons{
    display: flex;
    gap: 20px;
}

.footer-icons a{
    font-size: 30px;
    color: #ffffff;
}
.footer-hr{
    width: 100%;
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ffffff14;
}
.footer-text{
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 16px;
    text-align: center;
}
/* Footer section end */
